<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs/internal-nlog.txt">
  <targets async="true">
    <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
    <target name="runningfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
          <target xsi:type="File" name="runningfile"
                  fileName="Logs/test.log"
                  layout="${longdate} ${event-properties:item=EventId.Id} ${logger}   ${uppercase:${level}}   ${message}${newline}${exception:format=tostring}"
                  archiveFileName="Logs/test.{#}.txt"
                  archiveNumbering="DateAndSequence"
                  archiveAboveSize="10240000"
                  archiveDateFormat="yyyy-MM-dd"
                  archiveEvery="Day"
                  archiveOldFileOnStartup="true"
                  keepFileOpen="true"
                  openFileCacheTimeout="30"
                  maxArchiveFiles="50"/>
        </target>
      </targets>
    <rules>
      <!-- 大量控制台输出是会影响性能的 -->
      <!-- <logger name="*" minlevel="INFO" writeTo="console" /> -->
      <logger name="*" minlevel="INFO" writeTo="runningfile" />
    </rules>
</nlog>